<div class="alert alert-@(Color.ToString().ToLower()) @(ShowCloseButton ? "alert-dismissible fade show" : null)" role="alert">
    @ChildContent
    @if (ShowCloseButton)
    {
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    }
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public MC_AlertColor Color { get; set; } = MC_AlertColor.Primary;
    [Parameter] public bool ShowCloseButton { get; set; }

    public enum MC_AlertColor
    {
        Primary,
        Secondary,
        Success,
        Danger,
        Warning,
        Info,
        Light,
        Dark,
    }
}
