<div class="d-grid gap-@Gap.ToString().Replace("G","") @(Direction == MC_BlockButtonsDirection.Start ? "d-md-block" : Direction == MC_BlockButtonsDirection.End ? "d-md-flex justify-content-md-end" : Direction == MC_BlockButtonsDirection.Center ? "mx-auto" : null) @CssClass">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? CssClass { get; set; }
    [Parameter] public MC_BlockButtonsGap Gap { get; set; } = MC_BlockButtonsGap.G2;
    [Parameter] public MC_BlockButtonsDirection Direction { get; set; } = MC_BlockButtonsDirection.Default;
    public enum MC_BlockButtonsGap
    {
        G1,
        G2, 
        G3, 
        G4, 
        G5
    }
    public enum MC_BlockButtonsDirection
    {
        Default,
        Center,
        Start,
        End,
    }
}
