<div class="d-grid gap-@Gap.ToString().Replace("G","") @(Direction == BlockButtonsDirection.Start ? "d-md-block" : Direction == BlockButtonsDirection.End ? "d-md-flex justify-content-md-end" : Direction == BlockButtonsDirection.Center ? "mx-auto" : null) @CssClass">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? CssClass { get; set; }
    [Parameter] public BlockButtonsGap Gap { get; set; } = BlockButtonsGap.G2;
    [Parameter] public BlockButtonsDirection Direction { get; set; } = BlockButtonsDirection.Default;
    public enum BlockButtonsGap
    {
        G1,
        G2, 
        G3, 
        G4, 
        G5
    }
    public enum BlockButtonsDirection
    {
        Default,
        Center,
        Start,
        End,
    }
}
