@using static MC.Bootstrap.BS.Components.Button
<input type="checkbox" class="btn-check" id="@id" autocomplete="off" @onclick="OnClick">
<label class="btn btn-outline-@(Color.ToString().ToLower())" for="@id">@ChildContent</label>

@code {
    string id = $"checkbox-{Guid.NewGuid().ToString()}";
    [Parameter] public required bool Value { get; set; }
    [Parameter] public required RenderFragment ChildContent { get; set; }
    [Parameter] public ButtonColor Color { get; set; }
    [Parameter] public EventCallback<bool> ValueChanged { get; set; }
    async Task OnClick()
    {
        Value = !Value;
        await ValueChanged.InvokeAsync(Value);
    } 
}
