@using static MC.Bootstrap.BS.Components.Button
<div class="@(Type == GroupButtonType.Normal ? "btn-group" : "btn-group-vertical") @(Size == ButtonSize.Small ? "btn-group-sm" : Size == ButtonSize.Large ? "btn-group-lg" : null) @CssClass" role="group" aria-label="Basic example">
    @ChildContent
</div>

@code {
    [Parameter] public RenderFragment? ChildContent { get; set; }
    [Parameter] public string? CssClass { get; set; }
    [Parameter] public ButtonSize Size { get; set; }
    [Parameter] public GroupButtonType Type { get; set; } = GroupButtonType.Normal;
    public enum GroupButtonType
    {
        Normal, Vertical,
    }
}
